*{
box-sizing: border-box;
margin:0;
padding: 0;
}
/****************fuentes e iconos***********************/
@font-face {
font-family: 'Oleo Script';
src: url('../fonts/OleoScript-Regular.woff2') format('woff2'),
url('../fonts/OleoScript-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'fontawesome';
src: url('../fonts/fontawesome-webfont.woff') format('woff2'),
url('../fonts/fontawesome-webfont.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Open Sans';
src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
url('../fonts/OpenSans-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Open Sans-bold';
src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
url('../fonts/OpenSans-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}
/***********Estructura incial***********/

body{
background: #d0d0d0;
font-family: 'Open Sans';
}


/**********************header y navegador*******************/
header{
width: 100%;
max-width: 900px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}
header h1{
font-family: 'Oleo Script';
color:#E41B1B;

}


.menu {
  
  transition: all 2s;
}
@media screen and (min-width: 600px) {
  .menu {
    display: flex;
       justify-content: space-around;
    width: 100%;
    max-width: 586px;
  
  }
}
.menu__item {
  text-decoration: none;
  flex: auto;
  display: block;
  text-align: center;
  line-height: 4rem;
  color: #444444;
  width: 100%;
  max-width: 100px;    
  font-weight: bolder;

    font-size: 0.9em;

  transition: all 0.5s;
  border-bottom: 0 solid rgba(0, 0, 0, 0.001);
  max-height: 0;
  overflow: hidden;
}
.menu__item:last-child {
  border: 0;
}

.active{
	  background-color: #444444;
  color: white;
  border-radius: 4px;
}
@media screen and (min-width: 600px) {
  .menu__item {
    border-bottom: 0;
        line-height: 2;
    max-height: 2rem;
  }
}
.menu__item:hover {
  background-color: #444444;
  color: white;
  border-radius: 4px;
}

.mostrar .menu__item {
  max-height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mostrarx.toggle-menu:before {
  content: "×";
}

.toggle-menu {
  font-size: 0.75em;
  cursor: pointer;
  line-height: 3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  
  transition: all 5s ease;
      margin: 0;
    justify-content: flex-end;
        position: relative;
    right: 28px;
}
.toggle-menu:before {
  content: "☰";
  width: 1.5em;
  font-size: 1.8em;
}
@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}


/**********************header y navegador*******************/
.contenedor_botones{
width: 100%;
max-width: 900px;
background: #FFFFFF;
margin: 35px auto;
display: flex;
justify-content:space-between;
}
.textoInicial{
width: 100%;
max-width: 572px;
font-family: 'Open Sans';
padding: 30px;
}
.textoInicial h1{
font-weight:bold;
font-family: 'Open Sans-bold';
color: #676767;
}
.textoInicial h3{
font-weight:100;
color: #676767;
font-size: 1.5em;

}
.botones{
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content:space-evenly;
width: 100%;
max-width: 230px;
}
.btn{
width: 100%;
background: #1591c4;
color: white;
display: flex;
justify-content: center;
padding: 13px;
align-items: center;
cursor: pointer;
}

.btn:hover{
	background: #f2f2f2;
	color: #454344;
	transition: 0.5s;
}
.btn h4{
font-family: 'Open Sans-bold';
font-size:1.5em;
}
.btn i{
margin-left: 41px;
font-size: 1.5em;
}
.conenedor_imagenes{
width: 100%;
max-width: 900px;
margin:0 auto;
display: flex;
}
.caja_imagen{
background: #fff;
border-radius: 5px;
position: relative;
}
.textoCaption{
line-height: 27px;
padding: 12px;
}
.caja_imagen img{
width: 100%;
max-width: 300px;
height: 210px;
display: block;
object-fit: cover;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.space{
width: 65px;
}
.textoCaption h5{
color:  #4c4c4c;
}
.textoCaption p{
padding-bottom: 20px;
margin-top:10px;
color: #928f8f;
}
.textoImagen{
position: absolute;
top: 176px;
color: white;
font-weight: bold;
left: 10px;
}
.conenedor-texto{
background: #FFFFFF;
margin-top: 30px;
}
.imagenes-Colores img{
width: 100%;
max-width: 160px;
object-fit: cover;
height: 87px;
margin-top: 22px;
display: flex;
flex-wrap: wrap;
    border-radius: 6px;

}
.contenedor{
width: 100%;
max-width: 900px;
margin: 0 auto;
display: flex;
}
.caja-colores{
width: 100%;
margin-top: 38px;
display: flex;
flex-direction: column;
max-width: 371px;
}
.imagenes-Colores{
display: flex;
width: 100%;
max-width: 345px;
flex-wrap: wrap;
justify-content: space-between;
}
.caja-texto-grande{
width: 100%;
margin-top: 38px;
}
.caja-texto-grande h2{
	color: #4c4c4c;
}
.caja-texto-grande p{
font-size:0.9em;
margin-top: 22px;
color: #928f8f;
}

.caja-colores h3{
	color:#4c4c4c;
}

.btn-more{
	background: #1591c4;
    width: 100%;
    max-width: 89px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 16px;
        border-radius: 4px;
        cursor: pointer;
}

.btn-more:hover{
	background: #f2f2f2;
	color: #454344;
	transition: 0.5s;
}

.btn-continue{
	    background: #1591c4;
    width: 100%;
    max-width: 210px;
    color: white;
    display: flex;
    justify-content: space-around;
  align-items: baseline;

    font-weight: bold;
    padding: 10px;
    margin-top: 16px;
    border-radius: 4px;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn-continue:hover{
	background: #f2f2f2;
	color: #454344;
	transition: 0.5s;
}

.btn-continue i{
	font-size:1.1em;
}

.btn-continue h5{
	font-size:1.2em;
}
/*************************FOOTER****************************************/

.contenedor_cajasFooter{
	    display: flex;
	    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 41px auto;
}
.contenedor_cajasFooter .caja p{
	color: #3e3e3e;
	font-weight:bold;
	    text-align: left;
}

.contenedor_cajasFooter .caja ul{
list-style: none;
margin-top: 20px;
}

.contenedor_cajasFooter .caja ul li{
	font-size:0.8em;
	text-decoration: underline;
	line-height: 28px;
}



.redesSociales i{
	
	    font-size: 2.5em;
    text-decoration: none;
    color: #616161;
    margin: 4px;
    position: relative;
    left: -5px;
}

.redesSociales{
display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 11px;
}

footer p.derechosReservados{
	text-align: center;
	color:#333333;
	    margin: 50px auto;
	    font-size: 0.8em;

}

@media screen and (max-width: 800px) {

	header{
		flex-direction:column;
		    display: inline-block;
		    margin:0;
	}

	.logo{
		    width: 100%;
    max-width: 300px;
    float: left;
        padding: 10px;
	}

	.contenedor_botones{
		margin:10px auto;
		flex-direction: column;
	}

	.botones{
		    margin: 15px auto;
	}

	.btn{
		    margin-top: 20px;
	}

	.menu__item{
		width: 100%;
		max-width: 100%;
	}

	.conenedor_imagenes{
		flex-direction:column;
		    align-items: center;
	}

	.caja_imagen {
    background: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
}

.contenedor {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-texto-grande {
    width: 100%;
    margin-top: 38px;
    max-width: 365px;
}

.redesSociales {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 11px;
}

.contenedor_cajasFooter{
	flex-wrap:wrap;
}

.caja {
    width: 100%;
    max-width: 196px;
    margin-left: 35px;
    margin-top: 53px;
}



}

